body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("images/snow_bg.gif") no-repeat center center;
    background-size: cover;
    text-align: center;
}

.home-container {
    padding: 40px;
    background: rgba(115, 27, 27, 0.15); 
  
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); /*Safari support*/
  
    border-radius: 15px;
    border: 1px solid rgba(255, 62, 62, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    max-width: 150%;
    max-height: 150;
}



h1 {
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Pixelify Sans', monospace;
    font-size: 2.5rem;
}

p {
    margin-bottom: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.buttn-portfolio {
    padding: 12px 25px;
    background-color: #428aa7;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ,transform 0.2s;
    margin: 50px;
    display: inline-block;
}

.buttn-portfolio:hover {
    background-color: #04667a;

    transform: scale(1.05);
}

.container {
  display: flex;
  flex-direction: column;
}

.pixel-text {
            
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: none;
    font-smooth: never;
}